<a href="https://colab.research.google.com/github/Ankit12524/Data-Science-Assignments/blob/main/Programming_assignment_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question1
Create a function that takes a string and returns a string in which each character is repeated once.
Examples
double_char("String") ➞ "SSttrriinngg"

double_char("Hello World!") ➞ "HHeelllloo  WWoorrlldd!!"

double_char("1234!_ ") ➞ "11223344!!__  "

In [21]:
def double_char(s):
    return ''.join([char*2 for char in s])

double_char(input())

String

'SSttrriinngg'

Question2
Create a function that reverses a boolean value and returns the string "boolean expected" if another variable type is given.

In [22]:
def reverse(value):
    if isinstance(value, bool):
        return not value
    else:
        return "boolean expected"

reverse(True)

False

Question3
Create a function that returns the thickness (in meters) of a piece of paper after folding it n number of times. The paper starts off with a thickness of 0.5mm.

In [23]:
def num_layers(n):
    thickness_mm = 0.5 * (2 ** n)
    thickness_m = thickness_mm / 1000
    return "{:.3f}m".format(thickness_m)

num_layers(int(input()))

21

'1048.576m'

Create a function that takes a single string as argument and returns an ordered list containing the indices of all capital letters in the string.
Examples
index_of_caps("eDaBiT") ➞ [1, 3, 5]

index_of_caps("eQuINoX") ➞ [1, 3, 4, 6]

index_of_caps("determine") ➞ []

index_of_caps("STRIKE") ➞ [0, 1, 2, 3, 4, 5]

index_of_caps("sUn") ➞ [1]

In [24]:
def index_of_caps(s):
    return [i for i, char in enumerate(s) if char.isupper()]

index_of_caps('eQuINoX')

[1, 3, 4, 6]

Using list comprehensions, create a function that finds all even numbers from 1 to the given number.
Examples
find_even_nums(8) ➞ [2, 4, 6, 8]

find_even_nums(4) ➞ [2, 4]

find_even_nums(2) ➞ [2]

In [26]:
def find_even_nums(n):
    return [num for num in range(1, n + 1) if num % 2 == 0]

find_even_nums(int(input()))

8

[2, 4, 6, 8]