<a href="https://colab.research.google.com/github/Ankit12524/Data-Science-Assignments/blob/main/Programming_assignment_23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question 1

Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.

Examples

is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

In [3]:
def is_symmetrical(num):
  return str(num) == str(num)[::-1]

is_symmetrical(9939)

False

Question 2

Given a string of numbers separated by a comma and space, return the product of the numbers.

Examples

multiply_nums("2, 3") ➞ 6

multiply_nums("1, 2, 3, 4") ➞ 24

multiply_nums("54, 75, 453, 0") ➞ 0

multiply_nums("10, -2") ➞ -20

Ans.

In [7]:
def multiply_nums(nums_str):

  nums = [int(num) for num in nums_str.split(', ')]

  result = 1

  for num in nums:

    result *= num

  return print(result)

  multiply_nums("1,2,3,4")

Question 3

Create a function that squares every digit of a number.

Examples

square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414

Notes

The function receives an integer and must return an integer.

Ans.

In [10]:
def square_digits(num):

  return int(''.join(str(int(digit) ** 2) for digit in str(num)))

square_digits(3212)

9414

Question 4

Create a function that sorts a list and removes all duplicate items from it.

Examples

setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

Ans.

In [11]:
def setify(lst):
  return list(set(lst))

setify([3,3,2,1])

[1, 2, 3]

Question 5

Create a function that returns the mean of all digits.

Examples

mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6

Notes

● The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).

● The mean will always be an integer.

Ans.

In [12]:
def mean(num):

  digits = [int(digit) for digit in str(num)]

  return sum(digits) // len(digits)


mean(666)

6